@page
@model IndexModel
@{
    ViewData["Title"] = "Tic-tac-toe";
}

    <div class="alert alert-info endgame-info">
        <strong>Info!</strong> <div class="text">Your game ended!</div>
    </div>

<div class="game-area">
    <table>
        <tr>
            <td class="cell" id="0"></td>
            <td class="cell" id="1"></td>
            <td class="cell" id="2"></td>
        </tr>
        <tr>
            <td class="cell" id="3"></td>
            <td class="cell" id="4"></td>
            <td class="cell" id="5"></td>
        </tr>
        <tr>
            <td class="cell" id="6"></td>
            <td class="cell" id="7"></td>
            <td class="cell" id="8"></td>
        </tr>
    </table>
</div>


<div class="">
    <button onclick="startGame()" type="button" class="btn btn-defaultbtn-default reset-button btn-block">Reset</button>
</div>

<script src="~/js/game.js"></script>
