@page
@model _2dTopDownMapOnArray.GameModel
@{
    ViewData["Title"] = "Game";
}


<div class="camera" id="camera">
    <div class="map" id="map" width="500" height="500">
        <div class="character" id="character" facing="down" walking="true">
        </div>
    </div>
</div>