@page
@model IndexModel
@{
    ViewData["Title"] = "The Game";
}
<p>Set with camera, map and charcter</p>
<div class="camera">
    <div class="map pixel-art">
        <div class="character" facing="down" walking="true">
        </div>
    </div>
</div>


<p>JP-1</p>

<div class="text-center">
    <h1 id="gameTitle" class="display-4">Not ready</h1>
    <canvas id="gameCanvas" width="500" height="500"></canvas>
</div>

<script src="~/js/game.js"></script>
