@page
@model IndexModel
@{
    ViewData["Title"] = "The Game";
}





<p>generate map using game.ts</p>
<div class="text-center">
    <h1 id="gameTitle" class="display-4">Not ready</h1>
    <canvas id="gameCanvas" width="500" height="500"></canvas>
</div>


<script src="~/js/game.js"></script>